.back_fix{
    background-origin:border-box;                /*从content区域开始显示背景*/
    background-position:0 120%;              /*图片上下左右居中*/
    background-size: cover;                  /*保持图像本身的宽高比例，将图片缩放到宽度或高度正好适应定义背景的区域*/
    background-repeat:no-repeat;
    background-color: black;
}

.fast-go-btn-container {
    display: flex;
    flex-flow: row;
    height: 200px;
    padding: 50px;
    justify-content: space-around;
}

.fast-go-btn {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.go-to-macro{
    background: url(icon/macro.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.macro_hover:hover .go-to-macro{
    background: url(icon/macro-hover.svg) no-repeat center;
    background-size: 100%;
}
.go-to-micro{
    background: url(icon/micro.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.micro_hover:hover .go-to-micro{
    background: url(icon/micro-hover.svg) no-repeat center;
    background-size: 100%;
}
.go-to-tendency{
    background: url(icon/tendency.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.tendency_hover:hover .go-to-tendency{
    background: url(icon/tendency-hover.svg) no-repeat center;
    background-size: 100%;
}


.swiper-wrapper .bigTitle{
    z-index: 1;
    position: absolute;
    left: 60px;
    top: 200px;
    color: white;
    font-size: 40px;
}

.swiper-wrapper .smallTitle{
    z-index: 1;
    position: absolute;
    left: 70px;
    top: 260px;
    color: white;
    font-size: 20px;
}

.swiper-wrapper img{
    position: absolute;
}