
<david-nav></david-nav>

<div class="swiper-container david-container" style="height: 600px">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <p class="bigTitle">花旗产业链平台正式上线</p>
            <p class="smallTitle">高速快捷的产业分析体验，节省大量时间</p>
            <img width="100%" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1535902349080&di=8c4ab92b3da6ed932aac8f91179cf75d&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01cc1259e80ae3a801202b0c1fd83b.jpg%403000w_1l_2o_100sh.jpg"></div>
        <div class="swiper-slide">
            <p class="bigTitle">点击查看宏观、微观两大功能</p>
            <p class="smallTitle">方便的构图工具，以及易懂的产业链分析</p>
            <img width="100%" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1536496295&di=01c063b2d3fc4c8729cf615e5da22814&imgtype=jpg&er=1&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01557c5541eab000000115416f6b1a.jpg%401280w_1l_2o_100sh.jpg"></div>
    </div>
    <!-- 分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

<div class="david-container" style="background: #1f1f1f">

    <div style="display: flex;flex-flow: column; align-items: center; justify-content: center; width: 100%; height: 300px;">
        <img src="view/home/icon/downArrow.svg">
        <h2 style="color: white">平台三大功能</h2>
        <h4 style="color: white">基于模型的宏观、微观产业链分析、舆情分析</h4>
    </div>

    <div class="fast-go-btn-container david-container back_fix" style="height: 600px; padding: 0;background-color: #1f1f1f; background-image: url('view/home/background/microDiv.png')">
        <div class="macro_hover" style="display: flex;flex-flow: column; align-items: center; justify-content: center; width: 33%; height: 60%;">
            <div ui-sref="macroIndustryDisplay" class="fast-go-btn go-to-macro"></div>
            <h3 style="color: white">宏观产业链</h3>
            <h5 style="color: white">产业链宏观信息集成</h5>
        </div>
        <div class="micro_hover" style="display: flex;flex-flow: column;  align-items: center; justify-content: center; width: 33%; height: 60%;">
            <div ui-sref="microIndustryChain" class="fast-go-btn go-to-micro"></div>
            <h3 style="color: white">微观产业链</h3>
            <h5 style="color: white">产业链微观建模、牛人分析</h5>
        </div>
        <div class="tendency_hover" style="display: flex;flex-flow: column;  align-items: center; justify-content: center; width: 33%; height: 60%;">
            <div class="fast-go-btn go-to-tendency"></div>
            <h3 style="color: white">舆情分析</h3>
            <h5 style="color: white">专业的数据分析框架</h5>
        </div>
    </div>

    <div style="display: flex;flex-flow: column; align-items: center; justify-content: center; width: 100%; height: 300px; margin-top: -200px">
        <img src="view/home/icon/line.svg">
        <h2 style="color: white">我们的优势</h2>
        <h4 style="color: white">专业、用心，为您提供最优质的服务</h4>
    </div>

    <div class="fast-go-btn-container david-container" style="height: 600px; padding: 0; background: url('view/home/icon/advantage.jpg') no-repeat; background-size: 100%;">
    </div>

    <div class="fast-go-btn-container david-container" style="height: 600px; margin-top: -200px; padding: 0; background: url('view/home/icon/bottomInfo.jpg') no-repeat; background-size: 100%;">
    </div>

</div>



<script src="bower_components/swiper/dist/js/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        loop: true,
        autoplay: true,
        delay: 5000,

        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },

        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // 如果需要滚动条
        scrollbar: {
            el: '.swiper-scrollbar',
        },
    })
</script>
<link rel="stylesheet" href="bower_components/swiper/dist/css/swiper.min.css">
<link rel="stylesheet" href="view/home/home.css">