<nav class="david-navbar" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"><img class="nav-icon" src="view/login/citi-white.svg" alt="花旗"></a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ui-sref="login"><a>登录</a></li>
            </ul>
        </div>
    </div>
</nav>
<a ui-sref="microIndustryChain">前往 micro industry chain view</a>
<a ui-sref="macroIndustryDisplay">前往 macro industry display</a>
<a ui-sref="login">登录</a>


<link rel="stylesheet" href="view/home/home.css">