.fast-go-btn-container {
    display: flex;
    flex-flow: row;
    height: 200px;
    padding: 50px;
    justify-content: space-around;
}

.fast-go-btn {
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.go-to-macro{
    background: white url(icon/macro.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.go-to-macro:hover{
    background: white url(icon/macro-hover.svg) no-repeat center;
    background-size: 100%;
}
.go-to-micro{
    background: white url(icon/micro.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.go-to-micro:hover{
    background: white url(icon/micro-hover.svg) no-repeat center;
    background-size: 100%;
}
.go-to-tendency{
    background: white url(icon/tendency.svg) no-repeat center;
    background-size: 100%;
    transition: background .5s;
}
.go-to-tendency:hover{
    background: white url(icon/tendency-hover.svg) no-repeat center;
    background-size: 100%;
}


.swiper-wrapper .bigTitle{
    z-index: 1;
    position: absolute;
    left: 60px;
    top: 200px;
    color: white;
    font-size: 40px;
}

.swiper-wrapper .smallTitle{
    z-index: 1;
    position: absolute;
    left: 70px;
    top: 260px;
    color: white;
    font-size: 20px;
}

.swiper-wrapper img{
    position: absolute;
}