input {
    height: 30px;
    width: 300px;
}

.financial-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

select {
    height: 30px;
    width: 300px;
}

label{
    width: 150px;
}

.modal-dialog {
    width: 30% !important;
    min-width: 600px;
    margin: 15% auto;
}

.specific-button {
    background-color: rgb(101, 119, 210);
    color: white;
    font-size: 16px;
}

.specific-button:hover {
    background-color: rgb(101, 119, 210);
    color: white;
    font-size: 16px;
}
