<link rel="stylesheet" href="view/microIndustryChain/microChainAnalysis/financialContrast/financialContrast.css">
<div class="modal-body" style="padding: 30px 30px 50px;">
    <div class="financial-title">财务分析</div>
    <div  style="padding: 20px">
        <label >选择竞争公司：</label>
        <span>
            <input ng-change="changeKeyValue(searchField)" ng-model="searchField"
                   style='width:300px'
                   ng-click='hidden=!hidden' value="{{searchField}}"/></input>
            <select  ng-hide="hidden" id="companyjiaSelect" style='width:300px;margin: 20px 0 0 152px'
                    ng-change="change(x)" ng-model="x">
                <option ng-repeat="data in datas">{{data.compname}}({{data.stkcd}})</option>
            </select>

        </span>

    </div>
    <div style="padding: 20px">
        <label> 选择时间：</label>
        <select ng-model="time">
            <option ng-repeat="data in timeList">{{data}}</option>
        </select>

    </div>


</div>
<div class="modal-footer">
    <button class="btn specific-button" type="button" ng-click="confirm()">对比</button>
</div>