table{
    width: 100%;
    min-width: 720px;
    border: solid thin lightblue;
    color: rgba(140,140,140, 0.8);
}
table tr{
    width: 100%;
}
table tr td{
    empty-cells: show;
    border: solid thin lightblue;
}
.td_name{
    width: 15%;
    min-width: 150px;
    /*background-color: #00ccff;*/
}
.td_value{
    width: 300px;
    min-width: 200px;
    /*background-color: #5bc0de;*/
}