<link rel="stylesheet" href="view/macroIndustryDisplay/macroIndustryList.css"/>

<div class="industryListItem">
    <img class="img_industry" src="view/macroIndustryDisplay/pic_industry/军事工业.png"/>
    <div class="cover_industry" style="opacity: 0;"></div>
    <div class="content_industry">
        <h3 class="title_industry">xxx</h3>
        <p class='description_industry' style="opacity: 0;">xxxxxxxxxxxxxxxx</p>
        <!--<div class="title_container"><h3 class="title_industry">xxx</h3></div>-->
        <!--<div class="description_container"><p class='description_industry' style="opacity: 0;">xxxxxxxxxxxxxxxx</p></div>-->
    </div>
</div>