<br>
<script src="../../bower_components/echarts/dist/echarts.js"></script>

<div class="bg_macro"></div>
<!--顶部导航栏-->
<header class="header_macro">
    <div class="module_nav">
        <a class="nav" ui-sref="macroIndustryDisplay.generalInfo">基本情况</a>
        <div style="display:flex">
            <a class="nav" ui-sref="macroIndustryDisplay.industryData({target: ''})" ng-mouseover="showDataPane()"  ng-mouseleave="hideDataPane()">行业指标</a>
            <div class="dataPane" ng-mouseover="showDataPane()"  ng-mouseleave="hideDataPane()" ng-show='toshowDataPane'>
                <a ui-sref="macroIndustryDisplay.industryData({target: 'sellNum'})">整车销量</a>&ensp;&ensp;&ensp;&ensp;
                <a ui-sref="macroIndustryDisplay.industryData({target: 'holdNum'})">汽车保有量</a><br>
                <a ui-sref="macroIndustryDisplay.industryData({target: 'capacity'})">行业产能</a>&ensp;
                <a ui-sref="macroIndustryDisplay.industryData({target: 'inventory'})">行业库存</a>&ensp;
                <a ui-sref="macroIndustryDisplay.industryData({target: 'price'})">价格</a><br>
            </div>
        </div>
        <div style="display:flex">

            <a class="nav" ui-sref="macroIndustryDisplay.economicData({target: ''})" ng-mouseover="showDataPane2()"  ng-mouseleave="hideDataPane2()">经济数据</a>
            <div class="dataPane" style="margin-left: -70px" ng-mouseover="showDataPane2()"  ng-mouseleave="hideDataPane2()" ng-show='toshowDataPane2'>
                <a ui-sref="macroIndustryDisplay.economicData({target: 'qyjx'})">企业绩效</a>&ensp;
                <a ui-sref="macroIndustryDisplay.economicData({target: 'hysxysj'})">行业上下游数据</a><br>
                <a ui-sref="macroIndustryDisplay.economicData({target: 'hycw'})" style="margin-left: -10px;top: 20px">行业财务及固定资产投资</a><br>
            </div>

        </div>
        <!--<a class="nav" ui-sref="macroIndustryDisplay.sellNum">经济数据</a>-->
        <a class="nav" ng-mouseover="showDataPane3()"  ng-mouseleave="hideDataPane3()">行业地位</a>
        <div class="dataPane" style="margin-left: 80px;height: 80px;width: 140px" ng-mouseover="showDataPane3()"  ng-mouseleave="hideDataPane3()" ng-show='toshowDataPane3'>
            <a ui-sref="macroIndustryDisplay.hyssdw">行业上市地位</a><br>
            <a ui-sref="macroIndustryDisplay.hylsbj">行业历史比较</a><br>
            <a ui-sref="macroIndustryDisplay.scbxdb" >市场表现对比</a><br>
        </div>
        <a class="nav">主要上市公司</a>
        <a class="nav">行业资讯</a>
    </div>
</header>

<!--<div id="main" style="width: 600px;height:400px;"></div>-->

<ui-view></ui-view>

<link rel="stylesheet" href="view/macroIndustryDisplay/macroIndustryDisplay.css"/>