<br>

<ul>
    <li><a ui-sref="macroIndustryDisplay.generalInfo">基本情况</a></li>
    <div style="display:flex">
        <li><a ui-sref="" ng-mouseover="showDataPane()"  ng-mouseleave="hideDataPane()">行业指标</a></li>
        <div class="dataPane" ng-mouseover="showDataPane()"  ng-mouseleave="hideDataPane()" ng-show='toshowDataPane'>
            <a ui-sref="macroIndustryDisplay.sellNum">整车销量</a><br>
            <a ui-sref="macroIndustryDisplay.holdNum">汽车保有量</a><br>
            <a ui-sref="macroIndustryDisplay.capacity">行业产能</a><br>
            <a ui-sref="macroIndustryDisplay.inventory">行业库存</a><br>
            <a ui-sref="macroIndustryDisplay.price">价格</a><br>
        </div>

        </div>
    <li><a ui-sref="">经济数据</a></li>
    <li><a>财务数据</a></li>
    <li><a>行业地位</a></li>
    <li><a>主要上市公司</a></li>
    <li><a>行业资讯</a></li>
</ul>

<ui-view></ui-view>

<link rel="stylesheet" href="view/macroIndustryDisplay/macroIndustryDisplay.css"/>