.login-block {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    z-index: -1;
    background-origin:border-box;                /*从content区域开始显示背景*/
    background-position:50% 50%;              /*图片上下左右居中*/
    background-size: auto;                  /*保持图像本身的宽高比例，将图片缩放到宽度或高度正好适应定义背景的区域*/
    background-repeat:no-repeat;
    background-color: black;
    background-image:url("https://citicup.greatnju.com/loginBackground/loginBackground2.png");
}
.login-block #login-left-block{
    position: relative;
    width: 60%;
    height: 100%;
    float: left;
}
.login-block #login-right-block{
    width: 30%;
    height: 100%;
    float: left;
}
.login-block #login-right-block #login-cell{
    position: absolute;
    width: 700px;
    height: 420px;
    background-origin:border-box;                /*从content区域开始显示背景*/
    background-position:50% 50%;              /*图片上下左右居中*/
    background-size: cover;                  /*保持图像本身的宽高比例，将图片缩放到宽度或高度正好适应定义背景的区域*/
    background-repeat:no-repeat;
    top: 180px;
    right: 5%;
    padding: 22px;
}

.login-big-font{
    font-size: 18px;
    font-weight: 450;
}

.login-input{
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    margin-top: 20px;
    font-size: small;
    border: 1px solid #CCCCCC;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login-input:focus,
.login-input:hover{
    border: 1px solid #1da5ef;
}

.login-btn{
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border-radius: 0;
    background: #6063bb;
    color: #fff;
    border: 0;
    outline: none;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .175);
}
.login-btn:hover{
    background: #585baf;
}

.login-sub{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.login-sub p{
    float: right;
    color: #AAAAAA;
    cursor: pointer;
}
.login-notice{
    color: firebrick;
}
.login-other{
    position: relative;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.login-other p{
    float: left;
    color: black;
}
#citiBtn{
    width: 70px;
    height: 20px;
    background: url(citi.svg) no-repeat center;
    background-size: 90%;
    border: 0;
}
@media screen and (max-width:1100px){
    .login-block {
        width: 1100px;
    }
    #login-cell{
        right: 0;
    }
}
