<nav class="david-navbar" role="navigation">
    <div>
        <div>
            <a class="navbar-brand"><img class="nav-icon" src="view/login/citi-white.svg" alt="花旗"></a>
        </div>
        <div>
            <ul class="david-navbar-right">
                <li ui-sref="home"><a>首页</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="login-block">
    <div id="login-left-block">
        <img id="login-ad" src="view/login/ad.png">
    </div>
    <div id="login-right-block">
        <div id="login-cell">
            <p class="login-big-font">用户登录</p>
            <input ng-model="username" class="login-input" placeholder="请输入用户名" type="text">
            <input ng-model="password" class="login-input" placeholder="请输入密码" type="password">
            <button ng-click="login()" class="login-btn">登录</button>
            <div class="login-sub">
                <p class="small">注册新用户</p>
            </div>
            <div class="login-other">
                <p class="small">其他登录方式：</p>
                <button></button>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="view/login/login.css">