<nav class="david-navbar" role="navigation">
    <div>
        <div>
            <a ui-sref="home" class="navbar-brand"><img class="nav-icon" src="citi-icon/citi-white.svg" alt="花旗"></a>
        </div>
        <div>
            <ul class="david-navbar-right">
                <li ui-sref="home"><a>首页</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class = "contain">
    <div class = "cover-area">
        <!-- <img class = "cover-img" src = "http://img1.imgtn.bdimg.com/it/u=657618428,1087662113&fm=26&gp=0.jpg"> -->
    </div>
    <div class = "person-info">
        <div class = "user-head">
            <img  class = "user-img" src ="view/personal/user.svg" >
        </div>
        <div class = "info-contain">
            <div class = "info-title">
                <span>个人信息</span>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    账号
                </h3>
                <div class = "info-detail-unchange">{{personDetail.uid}}</div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    昵称
                </h3>
                <div class = "info-detail">
                    <input id = "personalNickName" class = "info-input" value = {{personDetail.name}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    性别
                </h3>
                <div class = "info-detail">
                    <input id = "personalSex"class = "info-input" value = {{personDetail.sex}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    真实姓名
                </h3>
                <div class = "info-detail">
                    <input id = "personalRealName"class = "info-input" value = {{personDetail.phonenum}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    生日
                </h3>
                <div class = "info-detail">
                    <input  id = "personalBirth" class = "info-input" value = {{personDetail.birthday}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    证件号码
                </h3>
                <div class = "info-detail">
                    <input id = "personalIdNum" class = "info-input" value = {{personDetail.idnum}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    职业
                </h3>
                <div class = "info-detail">
                    <input  id = "personalOccupation" class = "info-input" value = {{personDetail.occupation}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    工作单位
                </h3>
                <div class = "info-detail">
                    <input  id = "personalOrganization"class = "info-input" value = {{personDetail.organization}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    联系方式
                </h3>
                <div class = "info-detail">
                    <input  id = "personalContactNum" class = "info-input" value = {{personDetail.contactnum}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    地址
                </h3>
                <div class = "info-detail">
                    <input  id = "personalAddress" class = "info-input" value = {{personDetail.address}} readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    个人描述
                </h3>
                <div class = "info-detail-txtarea">
                    <textArea  id = "personalSummary" class = "info-textArea " readonly="readonly">{{personDetail.summary}}</textArea>
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    积分剩余
                </h3>
                <div class = "info-detail-unchange">{{personDetail.credit}}</div>
                <div class = "recharge-btn-div">
                    <a id="modal-358089" href="#modal-container-358089" role="button" class="btn recharge" data-toggle="modal">充值积分</a>

                    <div  class="modal fade" id="modal-container-358089" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        积分充值
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <h5>请选择积分充值数量</h5>
                                    <form id = "creditsChoice">
                                        <div>
                                            <input type="radio" name = "credit" value="100">100
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="200">200
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="500">500
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="1000">1000
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button ng-click="charge()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class = "button-div">
            <button id = "modify">修改</button>
            <button id = "save" ng-click="saveDetail()">保存</button>
        </div>
    </div>
    <div class="bankAccount-info">
        <div class = "info-contain">
            <div class = "info-title">
                <span>花旗银行信息</span>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    账号
                </h3>
                <div ng-hide=" personDetail.citinum != '' " style="display: inline;">
                    <div class = "info-detail-unchange"   ng-click="">未绑定</div>
                    <a id="modal-358088" href="#modal-container-358088" role="button" class="btn recharge" data-toggle="modal">绑定</a>

                    <div  class="modal fade" id="modal-container-358088" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" >
                                        花旗账户绑定
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <div class="citiDiv">
                                        <!--<div class="info-item">-->
                                            <h3 class="info-type">
                                                账户
                                            </h3>
                                            <div class="info-detail info-modify citi-account">
                                                <input  ng-model="citiAccount" class="info-input" value="">
                                            </div>
                                        <!--</div>-->
                                    </div>
                                    <div class="citiDiv">
                                        <!--<div class="info-item">-->
                                            <h3 class="info-type">
                                                密码
                                            </h3>
                                            <div class="info-detail info-modify citi-password">
                                                <input ng-model="citiPassword" type="password" class="info-input" value="">
                                            </div>
                                        <!--</div>-->
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    <button ng-click="blindAccount()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div ng-show="personDetail.citinum != ''" class = "info-detail-unchange"  ui-sref="personal">{{personDetail.citinum}}</div>
            </div>
        </div>
    </div>


</div>
<script src="js/bootstrap-tpls-2.0.0.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">


<link rel="stylesheet" href="view/personal/personalMain.css">