<nav class="david-navbar" role="navigation">
    <div>
        <div>
            <a ui-sref="home" class="navbar-brand"><img class="nav-icon" src="citi-icon/citi-white.svg" alt="花旗"></a>
        </div>
        <div>
            <ul class="david-navbar-right">
                <li ui-sref="home"><a>首页</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="leftUserDiv">
    <img id="userHead" src="view/personal/user.svg">
    <button class="btn btn-default" ng-click="logout()">登出</button>
</div>

<div class="david-container" id="accountDiv">
    <div id="accountDiv_right">
        <h2>账户</h2>
        <div ng-repeat="account in accounts">
            <div class="account" ng-repeat="(key, value) in account">
                <p>产品名称：{{value.productName}}</p>
                <p>产品代码：{{value.productCode}}</p>
                <p>产品账户：{{value.displayAccountNumber}}</p>
                <p>账户昵称：{{value.accountNickname}}</p>
                <p>账户余额：{{value.currentBalance}} {{value.currencyCode}}</p>
            </div>
        </div>
        <h2>保险</h2>
        <div class="account" ng-repeat="insurance in insurances">
            <p>产品名称：{{insurance.productName}}</p>
            <p>产品代码：{{insurance.productCode}}</p>
            <p>产品账户：{{insurance.displayAccountNumber}}</p>
            <p>保险金额：{{insurance.totalPremiumPaidAmount}} {{insurance.currencyCode}}</p>
        </div>
        <h2>平台积分</h2>
        <div class="account">
            <p>当前积分总量：</p>
            <button class="credit-btn">购买积分</button>
            <button class="credit-btn">兑换积分</button>
        </div>
        <h2>个人信息</h2>
        <div class = "account">
            <div>
                <p class="li-inline">账号：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">昵称：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">性别：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">生日：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">真实姓名：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">证件号码：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">职业：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">工作单位：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">联系方式：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">地址：</p>
                <input class="li-inline" type="text">
            </div>
            <div>
                <p class="li-inline">个人描述：</p>
                <input class="li-inline" type="text">
            </div>

        </div>
    </div>
</div>


<link rel="stylesheet" href="view/personal/personal.css">