<nav class="david-navbar" role="navigation">
    <div>
        <div>
            <a ui-sref="home" class="navbar-brand"><img class="nav-icon" src="citi-icon/citi-white.svg" alt="花旗"></a>
        </div>
        <div>
            <ul class="david-navbar-right">
                <li ui-sref="home"><a>首页</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class = "contain">
    <div class = "cover-area">
        <!-- <img class = "cover-img" src = "http://img1.imgtn.bdimg.com/it/u=657618428,1087662113&fm=26&gp=0.jpg"> -->
    </div>
    <div class = "person-info">
        <div class = "user-head">
            <img  class = "user-img" src ="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=3110099200,3513335820&fm=26&gp=0.jpg" >
        </div>
        <div class = "info-contain">
            <div class = "info-title">
                <span>个人信息</span>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    账号
                </h3>
                <div class = "info-detail-unchange">1332601525</div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    昵称
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "冰哥牛逼" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    性别
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "男" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    真实姓名
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "周益冰" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    生日
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "2018-01-01" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    证件号码
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "55564681364135" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    职业
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "全栈工程师" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    工作单位
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "微软" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    联系方式
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "15896589657" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    地址
                </h3>
                <div class = "info-detail">
                    <input class = "info-input" value = "南京大学鼓楼校区陶园二舍" readonly="readonly">
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    个人描述
                </h3>
                <div class = "info-detail-txtarea">
                    <textArea class = "info-textArea " readonly="readonly">年轻不拽,世界怎能精彩? 天生我材必有用,千金散尽还复来。</textArea>
                </div>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    积分剩余
                </h3>
                <div class = "info-detail-unchange">1000</div>
                <div class = "recharge-btn-div">
                    <a id="modal-358089" href="#modal-container-358089" role="button" class="btn recharge" data-toggle="modal">充值积分</a>

                    <div  class="modal fade" id="modal-container-358089" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        积分充值
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <h5>请选择积分充值数量</h5>
                                    <form id = "creditsChoice">
                                        <div>
                                            <input type="radio" name = "credit" value="100">100
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="200">200
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="500">500
                                        </div>
                                        <div>
                                            <input type="radio" name = "credit" value="1000">1000
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button ng-click="charge()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class = "button-div">
            <button id = "modify">修改</button>
            <button id = "save">保存</button>
        </div>
    </div>
    <div class="bankAccount-info">
        <div class = "info-contain">
            <div class = "info-title">
                <span>花旗银行信息</span>
            </div>
            <div class = "info-item" >
                <h3 class = "info-type">
                    账号
                </h3>
                <div class = "info-detail-unchange" ui-sref="personal">未绑定</div>
            </div>
        </div>
    </div>


</div>
<script src="js/bootstrap-tpls-2.0.0.js"></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">


<link rel="stylesheet" href="view/personal/personalMain.css">