<link rel="stylesheet" href="view/macroIndustryDisplay/industryData/industryData.css"/>

<!--跟随导航栏-->
<div class="navBar">
    <hr class="vertical_line">
    <li class="active">
        <img class="icon_active" src="view/resource/2行业指标/行业产能1.png" style="display: initial"/><a class="nav_item active" href="#capacity">行业产能</a>
        <ul style="display: inherit;">
            <li><a class="nav2_item active" href="#div_cyc">乘用车</a></li>
            <li><a class="nav2_item" href="#div_syc">商用车</a></li>
            <li><a class="nav2_item" href="#div_xzcn">新增产能</a></li>
            <li><a class="nav2_item" href="#div_zgqccl">中国汽车产量</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/2行业指标/行业库存1.png"/><a class="nav_item" href="#inventory">行业库存</a>
        <ul>
            <li><a class="nav2_item" href="#div_ccpch">产成品存货</a></li>
            <li><a class="nav2_item" href="#div_kcxs">库存系数</a></li>
            <li><a class="nav2_item" href="#div_kcyjzs">库存预警指数</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/2行业指标/价格1.png"/><a class="nav_item" href="#price">价格</a>
        <ul>
            <li><a class="nav2_item" href="#div_GAIN">GAIN</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/2行业指标/汽车保有量1.png"/><a class="nav_item" href="#holdNum">汽车保有量</a>
        <ul>
            <li><a class="nav2_item" href="#div_qcbyl">汽车保有量</a></li>
            <li><a class="nav2_item" href="#div_qczc">汽车注册</a></li>
            <li><a class="nav2_item" href="#div_qqqcbyl">全球汽车保有量</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/2行业指标/整车销量1.png"/><a class="nav_item" href="#sellNum">整车销量</a>
        <ul>
            <li><a class="nav2_item" href="#div_zgqcxl">中国汽车销量</a></li>
            <li><a class="nav2_item" href="#div_cycxl">乘用车销量</a></li>
            <li><a class="nav2_item" href="#div_sycxl">商用车销量</a></li>
            <li><a class="nav2_item" href="#div_qqqcxl">全球汽车销量</a></li>
        </ul>
    </li>
</div>

<br>

<div id="capacity" class="part">

    <div id="div_cyc" class="part2">
        <br>
        <div id="zggnzzcyccl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zggnzzcycfcxcl" style="width: 43%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_syc" class="part2">
        <br>
        <div id="zggnzzsyccl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zggnzzsycfcxcl" style="width: 43%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_xzcn" class="part2">
        <br>
        <div id="zgqchyxzcn" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

    <div id="div_zgqccl" class="part2">
        <br>
        <div id="zgqccl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zgzyqcjtcl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="zgzyqcjtjbxcyccl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
    </div>
</div>

<div id="inventory" class="part">

    <div id="div_ccpch" class="part2">
        <br>
        <div id="zgqchyccpch" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

    <div id="div_kcxs" class="part2">
        <br>
        <div id="zgqcjxskcxs" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

    <div id="div_kcyjzs" class="part2">
        <br>
        <div id="zgqcjxskcyjzs" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

</div>

<div id="price" class="part">

    <div id="div_GAIN" class="part2">
        <br>
        <div id="cycztjgbhzs" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="cycztzdyhzs" style="width: 43%;height:400px;display: inline-block"></div>
    </div>

</div>

<div id="holdNum" class="part">

    <div id="div_qcbyl" class="part2">
        <br>
        <div id="zgqcbyl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zgqcmqrbyl" style="width: 43%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_qczc" class="part2">
        <br>
        <div id="zgxzcmyqcsl" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

    <div id="div_qqqcbyl" class="part2">
        <br>
        <div id="qqqcbyl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="qqmqrqcbyl" style="width: 43%;height:400px;display: inline-block"></div>
    </div>

</div>

<div id="sellNum" class="part">

    <div id="div_zgqcxl" class="part2">
        <br>
        <div id="zgqcxl" style="width: 43%;height:400px;margin-left: 30%"></div>
    </div>

    <div id="div_cycxl" class="part2">
        <br>
        <div id="zgcycxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zgcycfcxxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="zgcycfrllxxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zgcycfppxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="zggnzzcycxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zggnzzcycfcxxl" style="width:43%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_sycxl" class="part2">
        <br>
        <div id="zgsycxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zgsycfcxxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="zgsycfrllxxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zggnzzsycxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="zggnzzsycfcxxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="zggnzzsycfrllxxl" style="width:43%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_qqqcxl" class="part2">
        <h5 style="text-align: center;margin-top: 10%"></h5>
        <br>
        <div id="qqcycxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="qqsycxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="mgqcxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
        <div id="rbqcxl" style="width: 43%;height:400px;display: inline-block"></div>
        <div id="dgqcxl" style="width: 43%;height:400px;display: inline-block;margin-left: 12%"></div>
    </div>

</div>
