<link rel="stylesheet" href="view/microIndustryChain/microChainAnalysis/analysis.css">

<div class="body-container">

    <div class="button-container">
        <div class="button-title">
            选择分析方法
        </div>

        <button class="square-button first-button" ng-click="confirm(1  )">
            PE估值
        </button>
        <button class="square-button second-button" ng-click="confirm(0)">
            舆情分析
        </button>
        <button class="square-button third-button" ng-click="confirm(2)">
            财务对比评价
        </button>

    </div>
</div>

