table{
    width:100%;
}
table tr:nth-child(odd){background:#F4F4F4;}

table th{
     background: #E5F0FF;
     font-weight: 900;
    text-align: center;
    border: 2px solid #E4E5E6;
}


table tr td{
    text-align: center;
    border: 2px solid #E4E5E6;
    padding-top: 5px;
    padding-bottom: 5px;
}

.circle{
    margin-left: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

}