<link rel="stylesheet" href="view/microIndustryChain/previewChainView/previewChainView.css">
<link rel="stylesheet" href="view/microIndustryChain/previewChainView/iconfont/iconfont.css">
<!--<div style="position:absolute; left:0; width:70%;height:100%; overflow: hidden">-->
    <!--<div id= "left_div"style="width: 40%;float: left;position: absolute">-->
        <!--<div id="topElement" onselectstart="return false;">-->

    <!--<div>-->
        <!--<canvas id="netBackground" style="left: 0; top: 0;"></canvas>-->
        <!--<canvas id="connectionBackground" style="left: 0; top: 0;"></canvas>-->
        <!--<canvas id="animeBackground" style="left: 0; top: 0;"></canvas>-->
        <!--<canvas id="canvas" data-toggle="context" data-target="#canvas-menu" style="left: 0; top: 0;"></canvas>-->
    <!--</div>-->

    <!--<div id="nodeDiv">-->

    <!--</div>-->
<!--</div>-->

        <!--<div id = "article" style="left: 50px;top: 700px;width: 1000px;position: absolute;text-align: center">-->
            <!--<h1 style="">新型产业链模式下的新契机</h1>-->
            <!--<div style="text-align: center;width: 800px;margin:0 auto">-->
                    <!--<p>随着技术的发展，迂回生产程度的提高，生产过程划分为一系列有关联的生产环节。分工与交易的复杂化\n-->
                <!--对使得在经济中通过什么样的形式联结不同的分工与交易活动成为日益突出的问题。企业组织结构随分工的发展而-->
                <!--呈递增式增加。因此，搜寻一种企业组织结构以节省交易费用并进一步促进分工的潜力，相对于生产中的潜力会大大增加(姚小-->
                <!--涛，席酉民，2002年)。企业难以应付越来越复杂的分工与交易活动，不得不依靠企业间的相互关联，这种搜寻最佳企业组织结构的动力与实践就成为产业链形成的条件。-->

                <!--如图所示，产业链的形成首先是由社会分工引起的，在交易机制的作用下不断引起产业链组织的深化。在图中，C1、C2、C3表示社会分工的程度，其中，C3>C2>C1表示社会分工程度的不断加深；A1、A2、A3表示市场交易的程度，A3>A2>A1表示市场交易程度的不断加深；B1、B2、B3表示产业链的发展程度，其中，B3>B2>B1表示产业链条的不断延伸和产业链形式的日益复杂化。三个坐标相交的原点0，表示既无社会分工也无市场交易更无产业链产生的初始状态。-->
                <!--从C1点开始，而不是从坐标原点开始，意味着社会分工是市场交易的起点，也是产业链产生的起点社会分工C1的存在促进了市场交易程度A1的产生，在A1作用下，需要B1的产业链形式与它对接B1这种产业链形式的产生又促进了社会分工的进一步发展，于是，社会分工就从C1演化到C2。相应地，在C2的作用下，市场交易程度从A1发展到A2，A2又促进了产业链形式从B1发展到B2。接着，按照同样的原理，B2促使C2发展到C3，C3又促使A2发展到A3，A3又促使产业链从B2发展到B3……如此周而复始，使产业链不断形成发展。-->
                <!--产业链形成的原因在于产业价值的实现和创造产业链是产业价值实现和增值的根本途径。任何产品只有通过最终消费才能实现，否则所有中间产品的生产就不能实现。同时，产业链也体现了产业价值的分割。随着产业链的发展，产业价值由在不同部门间的分割转变为在不同产业链节点上的分割产业链也是为了创造产业价值最大化，它的本质是体现“1+1>2”的价值增值效应。这种增值往往来自产业链的乘数效应，它是指产业链中的某一个节点的效益发生变化时，会导致产业链中的其他关联产业相应地发生倍增效应。产业链价值创造的内在要求是：生产效率≥内部企业生产效率之和(协作乘数效应)；同时，交易成本≤内部企业间的交易成本之和(分工的网络效应)。企业间的关系也能够创造价值。价值链创造的价值取决于该链中企业间的投资。不同企业间的关系将影响它们的投资，并进而影响被创造的价值。通过鼓励企业做出只有在关系持续情况下才有意义的投资，关系就可以创造出价值来。</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div id="right_div">-->
        <!--<div class="praise ">-->
            <!--<span id="praise" data-content="给作者点赞"><img src="view/microIndustryChain/previewChainView/images/zan.png" id="praise-img" /></span>-->
            <!--<span id="praise-txt">0</span>-->
            <!--<span id="add-num"><em>+1</em></span>-->
        <!--</div>-->
        <!--<div class="reward " >-->
            <!--<span id = "reward" data-content="给作者打赏">-->
                <!--<img src="view/microIndustryChain/previewChainView/images/reward.png"  style="width: 40px; height: 40px">-->
            <!--</span>-->
        <!--</div>-->
        <!--<div id="content" style="width: 100%; height: auto;">-->
            <!--<div class="wrap">-->
                <!--<div class="comment">-->
                    <!--<div class="head-face">-->
                        <!--<img src="view/microIndustryChain/previewChainView/images/user.svg">-->
                        <!--<p style="margin-top: 10px;    font-weight:bold;font-size: 15px"></p>-->
                    <!--</div>-->
                    <!--<div class="content">-->
                        <!--<div class="cont-box">-->
                            <!--<textarea class="text" placeholder="请输入..." wrap="hard"></textarea>-->
                        <!--</div>-->
                        <!--<div class="tools-box">-->
                            <!--&lt;!&ndash;<div class="operator-box-btn"><span class="face-icon">☺</span><span class="img-icon">▧</span></div>&ndash;&gt;-->
                            <!--<div   class="submit-btn"><input id = "subm" type="button" value="提交评论"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div id="info-show">-->
                    <!--<ul>-->
                        <!--<li ng-repeat="comment_detail in commentList track by $index">-->
                            <!--<div class="head-face">-->
                                <!--<img src="view/microIndustryChain/previewChainView/images/user.svg"></div>-->
                            <!--<div class="reply-cont">-->
                                <!--<p class="username" >{{comment_detail.author}}</p>-->
                                <!--&lt;!&ndash;<p class="like" ng-click="like_comment(comment_detail)" >  &#xe602;</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;<p class="step" ng-click="step_comment(comment_detail)">  👎100 </p>&ndash;&gt;-->
                                <!--<i class="like iconfont icon-good" ng-click="like_comment(comment_detail)" >{{comment_detail.up}}</i>-->
                                <!--<i class="step iconfont icon-cai" ng-click="step_comment(comment_detail)">{{comment_detail.down}}  </i>-->
                                <!--<p class="delete iconfont icon-guanbi"  ng-if = "comment_detail.author ==user_id" ng-click="delete_comment(comment_detail)"> </p>-->
                                <!--<p class="comment-body">{{comment_detail.comment}}</p>-->
                                <!--<p class="comment-footer">-->
                                    <!--#{{$index+1}}-->
                                    <!--{{comment_detail.time.substr(0,4)+"-"+comment_detail.time.substr(4,2)+"-"+comment_detail.time.substr(6,2) }}-->
                                    <!--{{comment_detail.time.substr(8,2)+":"+comment_detail.time.substr(10,2)+":"+comment_detail.time.substr(12,2)}}  </p></div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--从这里重写-->
<!--*************************************************************************************************-->

<div class="container">
    <div class="head">
        <div class= "head-left">
            <div class="head-location">
                <p></p>
            </div>
            <div class="head-title">
                <h1>创新ICT技术赋能新能源汽车产业链升级</h1></div>
            <div class="head-detail">
                <p>浏览 1</p>
                <p>评论 0</p>
                <p>赞同 10</p>
                <div class="clear"></div>
            </div>
        </div>
        <div class = "head-right">
            <div class="head-praise" >
                <img src = "view/microIndustryChain/previewChainView/images/zan.png" class="head-praise-img">
                <span >0</span>
            </div>
            <div class="head-reward" >
                <img src = "view/microIndustryChain/previewChainView/images/reward.png" class="head-reward-img">
                <span >0</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="main_content">
        <div class="left_div">
            <div class="display-div-container">
                <div id="displayDiv">
                    <canvas id="netBackground" style="left: 0; top: 0;"></canvas>
                    <canvas id="connectionBackground" style="left: 0; top: 0;"></canvas>
                    <canvas id="animeBackground" style="left: 0; top: 0;"></canvas>
                    <canvas id="canvas" data-toggle="context" data-target="#canvas-menu"
                            style="left: 0; top: 0;"></canvas>

                    <div id="nodeDiv">
                    </div>
                </div>
            </div>
            <div class="article_text">
                <div class="article-tip">
                    <p>正文</p>
                </div>
                <p> 当前， 新能源汽车 产业正迅猛发展，我国超越美国成为全球第一汽车大国。新能源关键技术取得重要突破，动力电池性能指标不断提升， 燃料电池 动力系统部件和集成技术显著提高，多个自主品牌的网联车投入市场，自动驾驶技术也开始进入道路测试的重要阶段……
                    我国新能源汽车行业历经十多年的发展，在实践中依靠科技创新，正一步步壮大迎来关键时期。新的变革有望使我国的汽车产业实现弯道超车，而由汽车衍生出来的汽车金融行业也正迎来发展的春天。
                    在2018第四届中国汽车金融产业国际峰会暨第四届中国汽车金融风控管理高峰论坛上，中企网络通信技术有限公司（简称“中企通信”）数据科学与创新副总监詹东东在演讲中表示，创新的ICT技术将助力新能源汽车和整个汽车产业链的变革加速升级！

                    汽车产业变革，金融后市场发展因势而变
                    过去十多年，我国汽车市场整体保有量保持在10%~20%的增长，每年新增汽车1000~2000万台。2009年，中国汽车销量超越美国后，汽车产业更是飞速发展。尤其去年，我国新能源汽车产业得到快速发展，但产业变革带来的第一波冲击，使新能源汽车产业下游的汽车金融产业与发达国家相比仍有一定差距。
                    一方面，服务效率与体验急待提升；另一方面，资金监管政策收紧，风控能力要求增强，汽车产业的变革让我国的汽车金融市场在蕴含巨大发展空间的同时面临着挑战！
                    去年，中国汽车流通行业协会通过大力推动和创新汽车产业金融业务，深度挖掘市场潜力，实现了汽车市场的稳步回升，推动了脱虚向实的政策引导。
                    中企通信詹东东在演讲中表示，随着新能源汽车市场的发展与变革，新势力造车和合资车企纷纷拔地而起，金融监控政策和汽车金融市场环境的变化将让金融产业业发生翻天覆地的变化！当前，高新技术产业的发展正推动汽车金融市场的渗透率持续上升，市场参与主体也呈现爆发性的增长。汽车金融已经发展成一个高度细分和逐渐规范化的行业，并仍然处于快速变革和增长期，詹东东认为，汽车金融产品的不断推陈出新，需要创新的ICT技术方案来支持。


                    新常态下，新能源汽车市场投资风控策略尤其重要！
                    当前，轰轰烈烈发展的新能源汽车产业，带动了以汽车融资渠道为核心，囊括了整车厂、汽车新零售平台、共享汽车，金融平台、银行业、保险业、渠道商，以及供应链金融、金融科技等众多领域的发展。
                    在新的形势下，汽车融资服务、汽车金融产品解析、风控管理落地应用等关键问题显得极为重要。
                    詹东东在接受OFweek新能源汽车网的采访中表示，年轻消费群体的崛起，以及新势力造车企业的遍地开花，消费者对汽车金融产品的差异化需求将越发明显。这就对产业链上下游企业数字化和自动化的模式提出了更高要求！
                    例如，原来的汽车金融以保险为主，如今滋生出汽车租赁，这就要求企业内部要有数字化的基因和团队，通过人工智能、大数据的方式，如图像识别、机器定损等，更快捷地帮助企业和个人用户解决问题。
                    詹东东介绍到，当前市场有一个特点，无论是外资企业还是自主车企，市场的参与者都在用数字化、科技化的方式去做改变，第一就是触达用户，更多地感知用户的个性化需求，只有提供个性化的服务才会有竞争优势；第二就是降低人工成本，轻资产上阵。利用更加自动化、数字化、流程化的方式去感知用户，用精准的模式在汽车后市场理赔和反欺诈等；再而就是与用户之间的感知能力，例如，企业自身各个系统之间的对接能力、与产业链上下游的对接，零配件厂商与整车厂、或者与银行、证券、监管机构之间的数据对接和管理，这些都需要网络化、多样化的连接和管理，再而进行计算和处理，然后再去开拓更多的产品，从而降低制造成本和减少中间复杂环节。

                    创新ICT技术助力新能源汽车产业链升级
                    目前我国的新能源汽车、包括汽车金融产品已经进入数十个国家，动力电池、驱动电机等关键零部件进入跨国车企配套体系，世界主要新能源汽车产品也纷纷进入中国市场，贸易的往来，技术的整合交流，ICT技术在其中担当着重要的连接管理作用！
                    詹东东对OFweek新能源汽车网表示， 汽车制造 是在工业中较为复杂的一个产业，中间各个环节需要强大的数据与系统连接管理能力，计算和处理。随着造车浪潮的兴起，新能源汽车产业正呈现前所未有的裂变，此时制约行业发展的不仅仅是客户，还有顺应需求的产品服务、技术的应用、风控能力的提升、低成本的资金来源等，构建业内协作的生态体系，亟待ICT技术来助力企业平台技术升级和资源整合。
                    詹东东介绍，当前的创新ICT技术，在整个汽车产业的上中下游都发挥着重要作用！对于新能源汽车的整车制造商来说，信息化的平台将大大驱动业务的发展，包括汽车零部件 标准化、信息化处理、物流、信息流、业务流、资金流的全面整合同步，以数字化工厂、智能工厂、全球化布局等能力推动汽车定制化生产，精益生产和柔性化生产，实现人车环境互联发展。
                    以中企通信ICT技术为例，通过MPLS专用网络、云计算、信息安全与数据中心托管等解决方案，将汽车整车制造厂如小康股份、中车以及一些新势力造车企业的业务提供制造过程与企业运营的横向、产业间与上下游供应生态的纵向，以及用户至研发的端到端数据连接平台、计算平台与信息安全保障平台，通过平台、技术、运营、服务等 方式实现高效战略布局，减少中间的的弯路和复杂环节。
                </p>
                <div class="support">
                    <!--<div class="praise ">-->
                    <!--<span id="praise" data-content="给作者点赞"><img src="view/microIndustryChain/previewChainView/images/zan.png" id="praise-img" /></span>-->
                    <!--<span id="praise-txt">0</span>-->
                    <!--<span id="add-num"><em>+1</em></span>-->
                    <!--</div>-->
                    <div class="praise ">
                        <span id="praise" data-content="给作者点赞"><img src="view/microIndustryChain/previewChainView/images/zan.png" id="praise-img" /></span>
                        <span id="praise-txt">0</span>
                        <!--<span id="add-num"><em>+1</em></span>-->
                    </div>
                    <div class="reward ">
                        <span id="reward" data-content="给作者打赏"><img src="view/microIndustryChain/previewChainView/images/reward.png" id="reward-img" /></span>
                        <span id="reward-txt">0</span>
                    </div>
                    <div class="gotop ">
                        <span id="gotop" data-content="返回上层"><img src="view/microIndustryChain/previewChainView/images/gotop.png" id="gotop-img" /></span>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="right_div">
            <div class="author">
                <div class="author-tip">
                    <p>本文作者</p>
                </div>
                <div class="author-img">
                    <img src="http://img5.imgtn.bdimg.com/it/u=2347924012,1403917519&fm=200&gp=0.jpg"></div>
                <div class="author-identity">
                    <h4 class="author-name">周益冰</h4>
                    <p class="author-work">资深全栈工程师、阿里CTO、华尔街资深评论人</p></div>
            </div>
            <div class="comment_div">
                <div class="comment-title">
                    <p>评论</p>
                </div>
                <div class="comment">
                    <div class="head-face">
                        <img src="view/microIndustryChain/previewChainView/images/user.svg">
                        <p style="margin-top: 10px;    font-weight:bold;font-size: 15px"></p>
                    </div>
                    <div class="content">
                        <div class="cont-box">
                            <textarea class="text" placeholder="请输入..." wrap="hard"></textarea>
                        </div>
                        <div class="tools-box">
                            <!--<div class="operator-box-btn"><span class="face-icon">☺</span><span class="img-icon">▧</span></div>-->
                            <div   class="submit-btn"><input id = "subm" type="button" value="提交评论"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="info-show">
                    <ul class="comment-list">
                        <li ng-repeat="comment_detail in commentList track by $index">
                            <div class="head-face">
                                <img src="view/microIndustryChain/previewChainView/images/user.svg"></div>
                            <div class="reply-cont">
                                <p class="username" >{{comment_detail.author}}</p>
                                <!--<p class="like" ng-click="like_comment(comment_detail)" >  &#xe602;</p>-->
                                <!--<p class="step" ng-click="step_comment(comment_detail)">  👎100 </p>-->
                                <!--<i class="like iconfont icon-good" ng-click="like_comment(comment_detail)" >{{comment_detail.up}}</i>-->
                                <!--<i class="step iconfont icon-cai" ng-click="step_comment(comment_detail)">{{comment_detail.down}}  </i>-->
                                <p class="delete iconfont icon-guanbi"  ng-if = "comment_detail.author ==user_id" ng-click="delete_comment(comment_detail)"> </p>
                                <p class="comment-body">{{comment_detail.comment}}</p>
                                <p class="comment-footer">
                                    #{{$index+1}}
                                    {{comment_detail.time.substr(0,4)+"-"+comment_detail.time.substr(4,2)+"-"+comment_detail.time.substr(6,2) }}
                                    {{comment_detail.time.substr(8,2)+":"+comment_detail.time.substr(10,2)+":"+comment_detail.time.substr(12,2)}}  </p></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!--<div class="cd-popup">-->
    <!--<div class="cd-popup-container">-->
        <!--<a class="cd-popup-close">❎</a>-->
        <!--<h3>感谢您对作者的支持</h3>-->
        <!--<div style="margin: 50px">-->
            <!--<p style="display: inline;">您当前的积分余额:</p>-->
            <!--<p style="display: inline;">100</p>-->
        <!--</div>-->
        <!--<div style="margin: 30px">-->
            <!--<p style="display: inline;">请输入您的打赏数：</p>-->
            <!--<input type="number" style="display: inline;">-->
        <!--</div>-->
        <!--<button>确认打赏</button>-->
    <!--</div>-->
<!--</div>-->

<script src="../../../bower_components/jQuery/dist/jquery.min.js"></script>