.graphListBlock {
    /*display: flex;*/
    /*flex-flow: row;*/
    /*flex-wrap: wrap;*/
    /*position: relative;*/
    width: 70%;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .graphListBlock {
        width: 767px;
    }
}

.graphCell {
    display: block;
    position: relative;
    width: 200px;
    height: 260px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    background: white;
    cursor: pointer;
    transition: background .2s;
    -webkit-box-shadow: 0 0 10px #a3a3a3;
    -moz-box-shadow: 0 0 10px #a3a3a3;
    box-shadow: 0 0 10px #a3a3a3;
    padding: 25px;
}

.graphCell:hover {
    /*background: #EEEEEE;*/
    -webkit-box-shadow: 0 0 10px 5px #a3a3a3;
    -moz-box-shadow: 0 0 10px 5px #a3a3a3;
    box-shadow: 0 0 10px 5px #a3a3a3;
}

#addGraphBtn {
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: #6577d2;
    border: 2px solid #6577d2;
    text-align: center;
    background-color: transparent;
}

#addGraphBtn:hover {
    cursor: pointer;
    color: white;
    background-color: #6577d2;
    border: 2px solid #6577d2;
}

.graphContainer {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
}

html, body {

    background-color: #E9E9E9
}

.top-tool {

    margin: 40px;
}

.graph-cover {
    width: 150px;
    height: 180px;
}

.graph-title {
    color: white;
    font-size: 14px;
    margin-top: 20px;
}

.graph-time {

    margin-top: 20px;
    padding-left: 2px;
    font-size: 12px;
    color: #a3a3a3;
}

.graph-select {
    float: right;
    width: 150px;
    height: 30px;
}
