/*导航栏*/
.navBar{
    position: fixed;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.navBar .nav_item{

}
.navBar .nav_item.active{
    color: #ff3333;
}

/*全景图*/
.wholePic_container{
    position: relative;
}
.wholePic .partPic{
    width: 20%;
    min-width: 200px;
}
/*.wholePic .partPic:hover{*/
    /*transform: scale(1.5);*/
    /*transition: all 0.6s;*/
/*}*/
/*全景图内名字和公司列表*/
.nameAndList{
    width: 150px;
}
.name_part{
    width: 150px;
    height: 30px;
    cursor: pointer;
}
/*单独每个的定位*/
#luntai{
    position: absolute;
    top:50px;
    left:100px;
}