/*导航栏*/
.navBar{
    position: fixed;
    /*right: 5%;*/
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.navBar li{
    margin: 50px 0 50px 0;
    transition: margin 1s, color 1s;
    /*font-size: 15px;*/
    color: rgba(140,140,140, 0.8);
}
.navBar li.active{
    margin: 200px 0 200px 0;
    /*transition: margin 0.5s;*/
    font-size: 25px;
    color: rgba(135,150,250, 0.8);
    /*font-weight: bold;*/
    /*transform: translateX(-1.5px);*/
    transform: translateX(-17px);
    list-style: none;
}
.navBar li .icon_active{
    width: 40px;
    display: none;
}
.navBar .nav_item{
    text-decoration: none;
    transition: ease-in-out 0.5s;
    color: rgba(140,140,140, 0.8);
    padding-left: 15px;
}
.navBar .nav_item.active{
    color: rgba(135,150,250, 0.8);
}
.navBar .vertical_line{
    position: absolute;
    width: 2px;
    height: 80vh;
    background: linear-gradient(rgba(70,70,70,0.1), rgba(160,160,160, 1), rgba(70,70,70,0.1)),
                linear-gradient(to right, rgba(123, 123, 123, 0.1), rgba(160, 160, 160, 0.1));
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
}

/*各部分*/
.part{
    /*padding-left: 20%;*/
    padding-left: 380px;
}
.part .blank{
    height: 50px;
}

/*全景图*/
.wholePic_container{
    position: relative;
    min-width: 1230px;
}
.wholePic .wholeView{
    /*width: 65%;*/
    /*height: 95vh;*/
    height: 925px;
    min-width: 800px;
    transition: all 0.3s;
}
.wholePic .wholeView.active{
    transform: translateX(-15%);
}
.wholePic .wholeView.cover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.touchDescription{
    /*background: #255;*/
    width: 210px;
    height: 60px;
    position: absolute;
    left: 1000px;
    top: 700px;
}
.wholePic .partPic{
    width: 20%;
    min-width: 200px;
}
/*.wholePic .partPic:hover{*/
    /*transform: scale(1.5);*/
    /*transition: all 0.6s;*/
/*}*/
/*全景图内名字和公司列表*/
.nameAndList{
    width: 150px;
}
.name_part{
    width: 150px;
    height: 30px;
    /*cursor: pointer;*/
}
.companyList{
    width: 35%;
    /*display: inline-block;*/
    position: absolute;
    right: 0;
    top:0;
    min-width: 430px;
    padding: 30px 0 0 50px;
}
.part_toTouch{
    cursor: pointer;
    background: #00ccff;
}
/*单独每个的定位*/
#luntai{
    position: absolute;
    top:50px;
    left:100px;
    width: 150px;
    height: 150px;
}