/*导航栏*/
.navBar{
    position: fixed;
    /*right: 5%;*/
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.navBar li{
    margin: 50px 0 50px 0;
    transition: margin 1s, color 1s;
    /*font-size: 15px;*/
    color: rgba(140,140,140, 0.8);
}
.navBar li.active{
    margin: 200px 0 200px 0;
    /*transition: margin 0.5s;*/
    font-size: 25px;
    color: rgba(135,150,250, 0.8);
    /*font-weight: bold;*/
    /*transform: translateX(-1.5px);*/
    transform: translateX(-17px);
    list-style: none;
}
.navBar li .icon_active{
    width: 40px;
    display: none;
}
.navBar .nav_item{
    text-decoration: none;
    transition: ease-in-out 0.5s;
    color: rgba(140,140,140, 0.8);
    padding-left: 15px;
}
.navBar .nav_item.active{
    color: rgba(135,150,250, 0.8);
}
.navBar .vertical_line{
    position: absolute;
    width: 2px;
    height: 80vh;
    background: linear-gradient(rgba(70,70,70,0.1), rgba(160,160,160, 1), rgba(70,70,70,0.1)),
                linear-gradient(to right, rgba(123, 123, 123, 0.1), rgba(160, 160, 160, 0.1));
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
}

/*各部分*/
.part{
    /*padding-left: 20%;*/
    padding-left: 380px;
}
.part .blank{
    height: 50px;
}

/*全景图*/
.wholePic_container{
    position: relative;
    min-width: 1230px;
}
.wholePic .wholeView{
    /*width: 65%;*/
    /*height: 95vh;*/
    height: 925px;
    min-width: 800px;
    transition: all 0.3s;
}
.wholePic .wholeView.active{
    /*transform: translateX(-15%);*/
    transform: translateX(-210px);
}
.wholePic .wholeView.cover{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.touchDescription{
    /*background: #255;*/
    width: 210px;
    height: 60px;
    position: absolute;
    left: 1000px;
    top: 700px;
}
.wholePic .partPic{
    width: 20%;
    min-width: 200px;
}
/*.wholePic .partPic:hover{*/
    /*transform: scale(1.5);*/
    /*transition: all 0.6s;*/
/*}*/
/*全景图内名字和公司列表*/
.nameAndList{
    width: 150px;
}
.name_part{
    width: 150px;
    height: 30px;
    /*cursor: pointer;*/
}
.companyList{
    width: 30%;
    /*display: inline-block;*/
    position: absolute;
    /*right: 0;*/
    left: 900px;
    top:0;
    min-width: 430px;
    padding: 30px 0 0 50px;
}
.part_toTouch{
    cursor: pointer;
    background: #00ccff;
    transition: all 0.3s;
    /*opacity: 0;*/
}
.part_toTouch.active {
    transform: translateX(-210px);
}
/*单独每个的定位*/
#part_001{
    position: absolute;
    top:110px;
    left:618px;
    width: 130px;
    height: 110px;
}
#part_002{
    position: absolute;
    top:30px;
    left: 630px;
    width: 180px;
    height: 180px;
}
#part_003{
    position: absolute;
    top: 6px;
    left: 560px;
    width: 296px;
    height: 220px;
}
#part_004_1{
    position: absolute;
    top: 480px;
    left: 305px;
    width: 100px;
    height: 80px;
}
#part_004_2{
    position: absolute;
    top: 540px;
    left: 413px;
    width: 103px;
    height: 80px;
}
#part_004_3{
    position: absolute;
    top: 205px;
    left: 820px;
    width: 60px;
    height: 50px;
}
#part_004_4{
    position: absolute;
    top: 268px;
    left: 940px;
    width: 60px;
    height: 50px;
}
#part_005{
    position: absolute;
    top: 308px;
    left: 580px;
    width: 163px;
    height: 126px;
}
#part_006_1{
    position: absolute;
    top: 380px;
    left: 259px;
    width: 245px;
    height: 180px;
}
#part_006_2{
    position: absolute;
    top: 295px;
    left: 504px;
    width: 183px;
    height: 284px;
}
#part_006_3{
    position: absolute;
    top: 225px;
    left: 687px;
    width: 223px;
    height: 328px;
}
#part_006_4{
    position: absolute;
    top: 85px;
    left: 830px;
    width: 220px;
    height: 310px;
}
#part_007_1{
    position: absolute;
    top: 316px;
    left: 323px;
    width: 137px;
    height: 117px;
}
#part_007_2{
    position: absolute;
    top: 187px;
    left: 523px;
    width: 143px;
    height: 117px;
}
#part_007_3{
    position: absolute;
    top: 397px;
    left: 908px;
    width: 150px;
    height: 125px;
}
#part_007_4{
    position: absolute;
    top: 530px;
    left: 704px;
    width: 140px;
    height: 105px;
}
#part_008{
    position: absolute;
    top: 510px;
    left: 482px;
    width: 420px;
    height: 245px;
}
#part_009{
    position: absolute;
    top: 523px;
    left: 442px;
    width: 522px;
    height: 334px;
}
