<link rel="stylesheet" href="view/microIndustryChain/microChainAnalysis/peAnalysis/peAnalysis.css">


<div class="modal-body">
    <div class="pe-tittle">
        PE分析
    </div>
    <div class="spinner" ng-hide="render">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <button id="spinner" ng-hide="!render" ng-click=""></button>
    </div>


    <div class="row" ng-hide="!render" style="padding: 30px">
        <div class="col-lg-8">
            <div>
                <div class="row small-font">
                    <div class="col-md-8">
                        <span>最新PE </span>
                    </div>
                    <span class="col-md-4 small-font gray-font">估值时间 {{data.valuationTime}}</span>
                </div>
                <div class="row large-font" style="margin-top: 3px">
                    <span class="col-md-8">{{data.pe}}</span>
                    <span ng-if="data.evaluation==='估值较低'" class="lower-pe col-md-4">{{data.evaluation}}</span>
                    <span ng-if="data.evaluation==='估值适中'" class="moderate-pe col-md-4">{{data.evaluation}}</span>
                    <span ng-if="data.evaluation==='估值较高'" class="higher-pe col-md-4">{{data.evaluation}}</span>
                </div>
                <br>
                <div class="row small-font">
                    <span class="col-md-8">PE百分位 </span>
                    <span class="col-md-4 ">预测股价</span>
                </div>
                <div class="row large-font">
                    <span class="col-md-8">{{data.pePercentile}}</span>
                    <span class="col-md-4">{{data.forecast}}</span>
                </div>

            </div>

            <div style="margin-top: 30px;margin-right: 30px">
                <div class="panel panel-default">
                    <div class="panel-heading" style="height: 50px">
                        <div class="col-lg-8" style="margin-top: 5px">历史PE走势图</div>
                        <div class="btn-group" data-toggle="buttons" style="float: right" ng-hide="buttonGroupHide">
                            <div id="defaultYear" class="btn btn-default transparent-btn" style="outline: none"
                                 ng-click="getHistory(0)">
                                <input type="radio" name="options" id="twoYears">近两年
                            </div>
                            <div class="btn btn-default transparent-btn" style="outline: none" ng-click="getHistory(1)">
                                <input type="radio" name="options" id="oneYear"> 近一年
                            </div>
                            <div class="btn btn-default transparent-btn" style="outline: none" ng-click="getHistory(2)">
                                <input type="radio" name="options" id="halfYear"> 近半年
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div id="lineChart" style="height: 400px; width: 700px"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-4">
            <div style="text-align: center;font-size: 20px">估值排行</div>
            <div>
                <div class="row" style="margin-bottom: 10px">
                    <span class="col-sm-8 col-sm-offset-1" style="font-size: 16px">名称</span>
                    <span class="col-sm-2" style="font-size: 16px">PE</span>
                </div>
                <div id="rankContainer" class="rank-container">
                    <div ng-repeat="item in data.peRank" class="row rank-item">


                        <div ng-if="item.stkcd===id" class="current-company row">
                            <div class="col-sm-8 col-sm-offset-1">
                                <div class="row">
                                    {{item.companyName}}
                                </div>
                                <div class="row">
                                    <span ng-if="item.evaluation==='估值较低'"
                                          class="lower-pe-background  badge ">较低</span>
                                    <span ng-if="item.evaluation==='估值适中'"
                                          class="moderate-pe-background  badge">适中</span>
                                    <span ng-if="item.evaluation==='估值较高'"
                                          class="higher-pe-background  badge">较高</span>
                                    {{item.stkcd}}
                                </div>
                            </div>
                            <span class="col-sm-2">{{item.pe}}</span>
                        </div>

                        <div ng-if="item.stkcd!==id" class="row">
                            <div class="col-sm-8 col-sm-offset-1">
                                <div class="row">
                                    {{item.companyName}}
                                </div>
                                <div class="row">
                                      <span ng-if="item.evaluation==='估值较低'"
                                            class="lower-pe-background  badge ">较低</span>
                                    <span ng-if="item.evaluation==='估值适中'"
                                          class="moderate-pe-background  badge">适中</span>
                                    <span ng-if="item.evaluation==='估值较高'"
                                          class="higher-pe-background  badge">较高</span>
                                    {{item.stkcd}}
                                </div>
                            </div>
                            <span class="col-sm-2">{{item.pe}}</span>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

