
<div class="graphListBlock">

        <input type="text" class="search-input" placeholder="请在此搜索" ng-model="searchKey">


    <div class="graphContainer">
        <div ui-sref="microIndustryChain.previewChainView({'articleid':article.id,'graphid':article.graphid})" class="graphCell" ng-repeat="article in allArticleList | limitTo:4">
            <div>
                <img  src="view/microIndustryChain/mineChainView/cover.png"  class="graph-cover">
            </div>
            <div class="graph-title">
                {{article.title}}
            </div>
            <div class="graph-mes">
                <div class = "graph-author">
                    {{article.author}}
                </div>
                <div class="graph-time">
                    {{article.time.substring(0,4)}}-{{article.time.substring(4,6)}}-{{article.time.substring(6,8)}} {{article.time.substring(8,10)}}:{{article.time.substring(10,12)}}
                </div>
            </div>
            <div>
                <div class="graph-view-num">
                    <img src="view/microIndustryChain/discoverChainView/images/浏览.png">
                    {{article.watchnum}}
                </div>
                <div class="graph-like-num">
                    <img src="view/microIndustryChain/discoverChainView/images/点赞.png">
                    {{article.up}}
                </div>
            </div>
        </div>
    </div>
    <div  class="graphLiContainer">
        <div class="graphList">
            <div  ui-sref="microIndustryChain.previewChainView({'articleid':article.id,'graphid':article.graphid})" class = "graphLiDiv" ng-repeat="article in allArticleList | filter:{title:searchKey}" >
                <div class="graph-li-title graph-li-con">
                    {{article.title}}
                </div>
                <div class="graph-li-author graph-li-con">
                    {{article.author}}
                </div>
                <div class="graph-li-time graph-li-con">
                    {{article.time.substring(0,4)}}-{{article.time.substring(4,6)}}-{{article.time.substring(6,8)}} {{article.time.substring(8,10)}}:{{article.time.substring(10,12)}}
                </div>
                <div class="graph-li-view graph-li-con">
                    <img style="width:18px" src="view/microIndustryChain/discoverChainView/images/浏览.png">
                    {{article.watchnum}}
                </div>
            </div>
        </div>
    </div>

</div>
<!--<div ui-sref="microIndustryChain.previewChainView({'graphid':graph.graphid})" class="graphCell" ng-repeat="graph in allGraphList">-->

<!--</div>-->



<link rel="stylesheet" href="view/microIndustryChain/discoverChainView/discoverChainView.css">
