table{
    width:100%;
}

table th{
    background: #E5F0FF;
    font-weight: 900;
    text-align: center;
    border: 2px solid #E4E5E6;
}


table tr td{
    text-align: center;
    border: 2px solid #E4E5E6;
    padding-top: 5px;
    padding-bottom: 5px;
}

table tr:nth-child(odd){background:#F4F4F4;}

button{
    background:rgb(241,247,254);
    margin-left: -5px;
    margin-top: 5px;
    padding-top: -5px;
    padding-bottom: 18px;
    height: 20px;
    border:1.1px solid rgb(139,168,202);
}

button:focus{
    background: linear-gradient(to bottom,rgb(94,130,173),rgb(116,150,191));
    margin-left: -5px;
    margin-top: 5px;
    padding-top: -5px;
    padding-bottom: 18px;
    height: 20px;
    border:1.1px solid rgb(109,143,186);
}