<br>
this is create chain view
<br>

<div id="topElement" ng-mousedown="hideAllBoard()" onselectstart="return false;">

    <div>
        <canvas id="netBackground" style="left: 0; top: 0;"></canvas>
        <canvas id="connectionBackground" style="left: 0; top: 0;"></canvas>
        <canvas id="animeBackground" style="left: 0; top: 0;"></canvas>
        <canvas id="canvas" data-toggle="context" data-target="#canvas-menu" style="left: 0; top: 0;"></canvas>
    </div>

    <div id="nodeDiv">
    </div>

    <div id="leftToolBar">
        <div class="leftToolBarBlock">
            <button class="btn btn-default" ng-click="showAddNodeBoard()">add</button>
            <button class="btn btn-default" ng-click="addEmptyNode()">addE</button>
        </div>

        <ul class="nav nav-tabs small">
            <li class="active"><a href="#nodeHistory" data-toggle="tab">节点</a></li>
            <li><a href="#connectionHistory" data-toggle="tab">联系</a></li>
        </ul>
        <div class="historyBlock">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="nodeHistory">
                    <div class="historyBlockCell" ng-repeat="id in nodeIDList">
                        <div>{{nodeList[id].nodeName}}</div>
                        <button ng-click="deleteNodeByHistory(id)" class="btn-sm btn-default">删除</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="connectionHistory">
                    <div class="historyBlockCell" ng-repeat="connection in connectionList">
                        <div>{{connection.id}}</div>
                        <button ng-click="deleteConnectionByHistory(connection.begin, connection.end)" class="btn-sm btn-default">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="topToolBar">

    </div>

</div>



<div id="addNodeBoard" ng-show="isAddingNode" style="left: 0; top: 0;">
    <div>
        <p>节点名</p>
        <input id="addNodeNameInput" class="form-control" type="text" placeholder="请输入节点名...">
    </div>
    <div>
        <p>股票代码</p>
        <input id="addNodeStockInput" class="form-control" type="text" placeholder="请输入股票代码..." onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')">
    </div>
    <div class="row center-block">
        <button ng-click="hideAddNodeBoard()" class="btn btn-default">取消</button>
        <button ng-click="addNewNode()" class="btn btn-default">确认添加</button>
    </div>
</div>

<div id="editNodeBoard" ng-show="isEdittingNode">
    <div>
        <p>节点名</p>
        <input id="editNodeNameInput" class="form-control" type="text" placeholder="请输入节点名...">
    </div>
    <div>
        <p>股票代码</p>
        <input id="editNodeStockInput" class="form-control" type="text" placeholder="请输入股票代码..." onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" onafterpaste="this.value=this.value.replace(/[^0-9]/g,'')">
    </div>
    <div class="row center-block">
        <button ng-click="hideEditNodeBoard()" class="btn btn-default">取消</button>
        <button ng-click="editNode()" class="btn btn-default">确认修改</button>
    </div>
</div>

<div id="node-menu">
    <ul class="dropdown-menu">
        <li ng-click="showEditNodeBoard()"><a>修改</a></li>
        <li class="divider"></li>
        <li ng-click="deleteNodeByMenu()"><a style="color: indianred">删除</a></li>
    </ul>
</div>

<div id="canvas-menu">
    <ul class="dropdown-menu">
        <li ng-click="showAddNodeBoard()"><a>增加新的节点...</a></li>
        <li ng-click="addEmptyNode()"><a>增加空节点</a></li>
        <li class="divider"></li>
        <li ng-click="undo()"><a>撤销</a></li>
        <li ng-click="redo()"><a>重做</a></li>
    </ul>
</div>


<script src="view/microIndustryChain/createChainView/controller.js"></script>
<link rel="stylesheet" href="view/microIndustryChain/createChainView/createChainView.css">