<br>
this is create chain view
<br>

<div id="topElement" onselectstart="return false;">

    <div>
        <canvas id="netBackground"></canvas>
    </div>
    <canvas id="canvas" width="1000" height="500"></canvas>


    <div>
        <button class="btn btn-success" ng-click="addNewNode()">add</button>
    </div>

    <div id="nodeDiv">

    </div>

</div>


<script src="view/microIndustryChain/createChainView/controller.js"></script>
<link rel="stylesheet" href="view/microIndustryChain/createChainView/createChainView.css">