a {
    cursor: pointer;
}

#topElement{
    -moz-user-select:-moz-none;
    overflow: auto;
}

#canvas{
    position: absolute;
    display: block;
    cursor: auto;
    border: 1px solid #CCCCCC;
    background: rgba(255,255,255,0);
    z-index: -1;
}

#animeBackground{
    position: absolute;
    display: block;
    border: 1px solid #CCCCCC;
    background: rgba(255,255,255,0);
    z-index: -2;
}

#connectionBackground{
    position: absolute;
    display: block;
    border: 1px solid #CCCCCC;
    background: rgba(255,255,255,0);
    z-index: -3;
}

#netBackground{
    position: absolute;
    display: block;
    border: 1px solid #CCCCCC;
    background: rgba(255,255,255,1);
    z-index: -4;
}

#topToolBar{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 1px solid #CCCCCC;
    background: whitesmoke;
}
#topToolBar #topToolBarMenu{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #CCCCCC;
    background: whitesmoke;
}
#topToolBar .topToolBarBigBlock{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #CCCCCC;
    background: whitesmoke;
}
#topToolBar .topToolBarBigBlockCell{
    display: flex;
    flex-flow: row;
    width: auto;
    height: 100%;
    padding: 8px;
    border-right: 1px solid #CCCCCC;
}
#topToolBar .topToolBarBigBtn{
    width: 50px;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,0);
}
#topToolBar .topToolBarBigBtn:hover{
    color: black;
}
#addBtn{
    background: white url(icon/add.svg) no-repeat center;
    background-size: 60%;
    font-size: 6px;
}
#previewBtn{
    background: white url(icon/preview.svg) no-repeat center;
    background-size: 60%;
    font-size: 8px;
}

#leftToolBar{
    position: fixed;
    z-index: 2;
    width: 220px;
    height: 100%;
    top: 100px;
    border-right: 1px solid #CCCCCC;
    background: whitesmoke;
}
#leftToolBar .leftToolBarBlock{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px;
    border-bottom: 3px solid #AAAAAA;
    background: white;
}
#leftToolBar .historyBlock{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid #CCCCCC;
    resize: vertical;
    overflow:auto;
    background: white;
}
#leftToolBar .historyBlock .historyBlockCell{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-top: 4px;
    margin-bottom: 4px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
#leftToolBar .historyBlock .historyBlockCell:hover{
    background: white;
}
#leftToolBar .historyBlock .historyBlockCell div{
    display: block;
    width: 75%;
}
#leftToolBar .historyBlock .historyBlockCell button{
    width: 25%;
}

#addNodeBoard{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: auto;
    border: 1px solid #CCCCCC;
    background: #FFF;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#addNodeBoard input{
    width: 100%;
    margin-bottom: 10px;
}

#editNodeBoard{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: auto;
    left: 150px;
    border: 1px solid #CCCCCC;
    background: #FFF;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#editNodeBoard input{
    width: 100%;
    margin-bottom: 10px;
}

#addConnectionBoard{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: auto;
    left: 150px;
    border: 1px solid #CCCCCC;
    background: #FFF;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#addConnectionBoard input{
    width: 100%;
    margin-bottom: 10px;
}

#editConnectionBoard{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 200px;
    height: auto;
    left: 150px;
    border: 1px solid #CCCCCC;
    background: #FFF;
    border-radius: 4px;
    padding: 10px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#editConnectionBoard input{
    width: 100%;
    margin-bottom: 10px;
}

.node{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 80px;
    height: 40px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    background: #FFF;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.node p{
    pointer-events: none;
}

.node-anchor-right{
    left: 72px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-right:hover{
    left: 72px;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-left{
    left: -6px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-left:hover{
    left: -6px;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-top{
    top: -6px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-top:hover{
    top: -6px;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-bottom{
    top: 32px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}
.node-anchor-bottom:hover{
    top: 32px;
    position: absolute;
    z-index: 3;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #CCCCCC;
    background: whitesmoke;
}