<link rel="stylesheet" href="view/macroIndustryDisplay/economicData/economicData.css"/>

<!--跟随导航栏-->
<div class="navBar">
    <hr class="vertical_line">
    <li class="active">
        <img class="icon_active" src="view/resource/汽车icon.png" style="display: initial"/><a class="nav_item active" href="#hycw">行业财务及固定资产投资</a>
        <ul style="display: inherit;">
            <li><a class="nav2_item active" href="#div_hygc">行业概况</a></li>
            <li><a class="nav2_item" href="#div_zgqchycwsj">中国汽车行业财务数据</a></li>
            <li><a class="nav2_item" href="#div_zgqchygdzctj">中国汽车行业固定资产投资</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/汽车icon.png"/><a class="nav_item" href="#hysxysj">行业上下游数据</a>
        <ul>
            <li><a class="nav2_item" href="#div_hysxysj">行业上下游数据</a></li>
        </ul>
    </li>
    <li>
        <img class="icon_active" src="view/resource/汽车icon.png"/><a class="nav_item" href="#qyjx">企业绩效</a>
        <ul>
            <li><a class="nav2_item" href="#div_qyjx">企业绩效</a></li>
        </ul>
    </li>
</div>

<div id="hycw" class="part">
    <h3>行业财务及固定资产投资</h3>

    <div id="div_hygc" class="part2">
        <h5 style="text-align: center">行业概况</h5>
        <br>
        <div id="srzgdpbz" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="qyhksqysl" style="width: 49%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_zgqchycwsj" class="part2">
        <h5 style="text-align: center;margin-top: 10%">中国汽车行业财务数据</h5>
        <br>
        <div id="fzzj" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="lrze" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zyywcb" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zczj" style="width: 49%;height:400px;display: inline-block"></div>
    </div>

    <div id="div_zgqchygdzctj" class="part2">
        <h5 style="text-align: center;margin-top: 10%">中国汽车行业固定资产投资</h5>
        <br>
        <div id="gdzctze" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="gdzctzzqgtzbz" style="width: 49%;height:400px;display: inline-block"></div>
    </div>

</div>

<div id="hysxysj" class="part">
    <div id="div_hysxysj" class="part2">
        <h5 style="text-align: center">行业上下游数据</h5>
        <br>
        <div id="zggcjg" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zggllkzzl" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zggdzctzjgzs" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgjmxfzc" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgkcxl" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgrjgdpzs" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgtrxjyjscj" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgzkcl" style="width: 49%;height:400px;display: inline-block"></div>
    </div>

</div>

<div id="qyjx" class="part">
    <div id="div_qyjx" class="part2">
        <h5 style="text-align: center">企业绩效</h5>
        <div id="zgqchyqbcyrypjrs" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgqcqysnxspjzzl" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgqcqyxjldfzbl" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgqcqyxslrl" style="width: 49%;height:400px;display: inline-block"></div>
        <div id="zgqcqyzcfzl" style="width: 49%;height:400px;display: inline-block"></div>
    </div>
</div>