table{
    background-color:rgba(0,0,0,0); /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
    color: #d6d6d6;
    font-size: 13px;
}

table th{
    font-weight: 900;
    text-align: center;
    font-size: 14px;
    color: #d6d6d6;
    height: 40px;
    min-width: 95px;
}


table tr{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #d6d6d6;
    height: 10px;
    border: 1px solid rgb(67,67,67);
    border-left-style: none;
    border-right-style: none;
}

table tr:nth-child(1) {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #d6d6d6;
    height: 10px;
    border: 0px solid rgb(67,67,67);

}

table tr:nth-child(2) {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #d6d6d6;
    height: 10px;
    border: 0px solid rgb(67,67,67);

}
.tableDiv{
    margin-left:10%;
    width: 1250px;
    overflow-x: auto;
    overflow-y: hidden;
}

.myInput{
    display: inline-block;
    height: 19.6px;
    width: 110px;
    background-color: rgba(0,0,0,0);
    color:rgba(170,170,170, 0.8);
    border: 1px solid rgb(170,170,170);
    padding-left: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.myInput:hover{
    cursor: default;
}

.myInputFocus{
    background-color: white;
    width: 110px;
    border: 1px solid rgb(96,138,260);
    outline: 1px solid rgb(134,180,254);
    outline-offset: 0px;

}
.mySelect{
    width: 110px;
    margin-top: -5px;
    margin-left: 395px;
    background-color: rgba(0,0,0,0);
    color:rgba(170,170,170, 0.8);
    border-left: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(0,0,0);
    border-bottom: 1px solid rgb(112,143,193);
    padding-left: 7px;
}

input{
    vertical-align: top;
}


button{
    background: linear-gradient(to bottom,rgb(68,71,92),rgb(91,95,117));
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(163,174,197);
    margin-left: 25px;
}

.pane{
    background-color: rgba(49,48,53, 0.85);
    background-size: 700px 460px;
    background-position: -29px -12px;
    color: white;
    position: absolute;
    width: 400px;
    height: 400px;
    left: 34%;
    top:25%;
    overflow: visible;
    border:rgb(101,101,102) solid 1px;
    border-radius: 15px;
}

.paneTitle{
    color: rgb(167,168,165);
    width: 398px;
    height: 5%;
    font-size: 13px;
    text-indent: 1em;

}

.paneBackground{
    width: 398px;
    height: 98%;
    position: absolute;
    padding-top: 10px;
    font-family: 等线;
    font-weight: 600;
    overflow: visible;

}

.paneCore{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 76%;
    position: absolute;
    padding-top: 10px;
    padding-left: 15px;
    overflow-y: auto;
}

button.myButton{
    border: rgb(0,0,0) solid 0px;
    background: linear-gradient(to bottom,rgb(68,71,92),rgb(91,95,117));
    color:rgba(255,255,255, 0.8);
    font-size: 13px;
}

span.checkSpan{
    margin-left: 6px;
}

.myDiv{
    margin-top: 2px;
}

img.closeIcon{
    cursor:pointer;
}

select{
    background-color: rgba(0,0,0,0);
    color:rgba(170,170,170, 0.8);
}

select option{
    background-color: rgba(0,0,0,0.81);

}